.container{
  margin: 0;
  padding: 0;
}

.pageHeader{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #008ACF;
  padding: 0.3em 1em;
}

.back{
  width: 1.5em;
  color: white;
}

.buttonDelete{
  padding: 4px 12px;
  margin-right: 0.5em;
  background-color: #ff5151;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  transition: background-color 0.3s ease 0s;
}

.buttonDelete:hover {
  background-color: #ff8787;
  color:#ffffff;
}

.buttonDelete:focus {  
  background-color: #ff8787;
  color:#ffffff;
}

.button {
  padding: 4px 12px;
  margin-right: 0.5em;
  background-color: #ffffff;
  color: #008ACF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #FF8E1C;
  color:#ffffff;
}

.button:focus {  
  background-color: #FF8E1C;
  color:#ffffff;
}

.objectContainer{
  width: 85%;
  margin: auto;
  margin-top: 1em;
}

.objectHeader{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.objectTitle{
 min-width: 200px; 
 width: 50%;
}

.timeDuration{
  min-width: 100px;
  width: 25%;
}

.textInput{
  border: none;
}

.textInput:active{
  border: none;
}

.questionList{
  margin:auto;
  width: 100%;
  border-radius: 1em;
  background-color: rgb(247, 247, 247);
  max-height: 100%;
  padding: 0.75em;
}

.question{
  padding: 0.3em 0.3em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  background-color: rgb(235, 235, 235);
}

.questionWrong{
  padding: 0.3em 0.3em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  background-color: rgb(255, 148, 116);
}

.optionContainer{
  display:grid;
  grid-template-columns: 49% 49%;
  grid-row: auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 0.5em;
}

.optionSelection{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.optionBox{
  position: relative;
  margin-top: 1em;
}

.optionImage{
  color:#008ACF;
  position: absolute;
  width: 1em;
  right: 0.5em;
  top: 0.5em;
  margin: 0em 1em;
}

.optionImage2{
  color:#008ACF;
  position: absolute;
  width: 1em;
  right: 0.5em;
  top: 2em;
  margin: 0em 1em;
}

.selectionBox{
  height: 3em;
  width: 3em;
  text-align: center;
  align-content: center;
  padding-top: 0.65em;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}

.uploadImage{
  display: none;
}

.imageOption{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  cursor: pointer;
}

.imageOptionIcon{
  color:#ff5151;
  border-radius: 0.2em;
  background-color: #ffffff;
  position: inline;
  width: 1em;
  right: 1em;
  top: 0.5em;
  margin: 0.5em 0.5em;
}

.selectionBoxSelected{
  height: 3em;
  width: 3em;
  text-align: center;
  padding-top: 0.65em;
  vertical-align: middle;
  border: 1px solid #3db800;
  border-radius: 50%;
  background-color: #79c752;
}

.relative{
  margin-top: 0;
  margin-bottom: 0;
}

.noQuestion{
  text-align: center;
  font-weight: 500;
  font-size: large;
  color:#008ACF;
}

.footerContainer{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  min-height: 3.2em;
}

.weightage{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.weightageChild{
  width: 100px;
}

.action{
  position: absolute;
  top: 0em;
  right: 0em;
}


.questionIcon{
  width: 1.8em;
  align-self: flex-start;
  vertical-align: bottom;
  margin: 1em;
  color: rgb(53, 156, 187);
}

.questionIcon2{
  width: 1em;
  align-self: flex-start;
  vertical-align: bottom;
  margin: 1em;
  color: #ff6363;
}

.questionIcon2Wrong{
  width: 1em;
  align-self: flex-start;
  vertical-align: bottom;
  margin: 1em;
  color: white;
}

.videoParent{
  position: relative;
}

.videoChild1{
  position: absolute;
  width: 1em;
  right: 0em;
  top: 0em;
  margin: 1em;
  color: rgb(255, 0, 0);
}

.videoChild2{
  position: absolute;
  width: 1em;
  right: 0em;
  top: 0em;
  margin: 1em;
  color: rgb(0, 255, 0);
}

.pageFooter{
  width: 3em;
  color:#008ACF;
  margin:auto;
  margin-top: 1em;
}