.container{
  display: grid;  
  grid-template-columns: 70% 30%;
  /* grid-template-columns: 17% 66% 17%; */
}

.rightModule{
  border: 1px solid #000;
  height: 100%;
  min-height: 10em;
  margin: 0 1%;
}

.leftModule{
  border: 1px solid #000;
  height: 100%;
  min-height: 10em;
  margin: 0 1%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .container {
    grid-template-columns: 100% 0%;
  }

  .rightModule{
    display: none;
  }
}